.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  font-size: 14px;
  text-transform: uppercase;
}

.page__body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.button {
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #81B3D2;
  color: #FFFFFF;
  transition: 250ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: #669EC0;
}
.button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #E5E5E5;
}

.text {
  line-height: 1.31rem;
}

.page-header {
  height: 56px;
  padding-top: 16px;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    padding-left: 47px;
    padding-right: 22px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    padding-left: 76px;
    padding-right: 55px;
  }
}

.nav {
  position: relative;
}
@media (max-width: 767px) {
  .nav {
    display: flex;
  }
}

.nav__logo {
  position: absolute;
  top: -11px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 1200px) {
  .nav__logo-img {
    top: 14px;
    width: 185px;
    height: 96px;
  }
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .nav__list {
    justify-content: space-evenly;
    gap: 40px;
  }
}
@media (min-width: 1200px) {
  .nav__list {
    justify-content: space-evenly;
    gap: 132px;
  }
}
@media (max-width: 767px) {
  .nav__list_opened {
    position: absolute;
    display: block;
    flex-direction: column;
    width: 100%;
    top: -16px;
    z-index: 6;
  }
}
@media (max-width: 767px) {
  .nav__list_opened .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    background-color: #81B3D2;
  }
  .nav__list_opened .nav__item:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav__list_opened .nav__item:not(:last-child) {
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }
  .nav__list_opened .nav__item:hover {
    background-color: #669EC0;
  }
  .nav__list_opened .nav__item:active {
    background-color: #5496BD;
  }
}
@media (max-width: 767px) {
  .nav__list_opened .nav__link {
    font-size: 18px;
    line-height: 40px;
    color: #FFFFFF;
  }
}
.nav__list_opened .nav__link:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .nav__item:nth-child(2) {
    margin-left: 42px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .nav__item:nth-child(3) {
    margin-left: 140px;
  }
}
@media (min-width: 1200px) {
  .nav__item:nth-child(3) {
    margin-left: 294px;
  }
}

.nav__link {
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .nav__link {
    line-height: 1.85rem;
  }
}
@media (min-width: 768px) {
  .nav__link {
    color: #000000;
  }
}
@media (min-width: 320px) {
  .nav__link:hover {
    color: #81B3D2;
  }
  .nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .nav__link:focus {
    color: #766357;
  }
  .nav__link:focus:hover {
    color: #604E43;
  }
  .nav__link:focus:active {
    color: rgba(96, 78, 67, 0.3);
  }
}

@media (max-width: 767px) {
  .nav__toggle-container {
    position: absolute;
    top: -3px;
    left: 88%;
    cursor: pointer;
    z-index: 10;
  }
}
@media (min-width: 768px) {
  .nav__toggle-container {
    display: none;
  }
}

.nav__toggle-line_1, .nav__toggle-line_2, .nav__toggle-line_3 {
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  margin: 5px 0;
  transition: 0.3s;
}

.change .nav__toggle-line_1 {
  transform: rotate(-45deg) translate(-9px, 5px);
  background-color: #FFFFFF;
}

.change .nav__toggle-line_3 {
  transform: rotate(45deg) translate(-8px, -4px);
  background-color: #FFFFFF;
}

.change .nav__toggle-line_2 {
  opacity: 0;
}

.act {
  background-color: red;
  color: yellow;
}

.sedona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 84px;
  background-image: url("/source/img/background/intro-triangle.svg"), url("/source/img/background/back-mobile.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .sedona {
    background-position-y: bottom, -15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .sedona {
    background-image: url("/source/img/background/intro-triangle-tab.svg"), url("/source/img/background/back-tablet.jpg");
  }
}
@media (min-width: 1200px) {
  .sedona {
    background-image: url("/source/img/background/intro-triangle-tab.svg"), url("/source/img/background/back-desktop.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .sedona_position {
    background-position-y: bottom, -231px;
  }
}
@media (min-width: 1200px) {
  .sedona_position {
    background-position-y: bottom, -220px;
  }
}

@media (max-width: 767px) {
  .sedona_height {
    height: 157px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .sedona_height {
    height: 287px;
  }
}
@media (min-width: 1200px) {
  .sedona_height {
    height: 298px;
  }
}

.sedona__welcome {
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .sedona__welcome {
    width: 188px;
    height: 45px;
    margin-bottom: 10px;
  }
}

.sedona__gorgeus {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .sedona__gorgeus {
    width: 174px;
    height: 29px;
    margin-bottom: 51px;
  }
}

.sedona__sedona {
  margin-bottom: 2.57rem;
}
@media (min-width: 768px) {
  .sedona__sedona {
    width: 461px;
    height: 79px;
    margin-bottom: 60px;
  }
}

.sedona__sedona_margin {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .sedona_grand {
    width: 282px;
    height: 74px;
  }
}

.title {
  font-size: 16x;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.85rem;
  padding: 32px 24px 0 24px;
  background-color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .reasons {
    padding-top: 43px;
    padding-bottom: 52px;
  }
}
@media (min-width: 1200px) {
  .reasons {
    padding-top: 55px;
    padding-bottom: 41px;
  }
}

.reasons__title {
  font-size: 1.28rem;
  font-weight: 700;
  margin: 0 0 39px 0;
  text-transform: uppercase;
}

.reasons__text {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) {
  .reasons__text br {
    display: none;
  }
}

@media (max-width: 767px) {
  .advantage_triangle {
    background-image: url("../img/background/triangle.svg"), url("/source/img/background/background_blue.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-size: 100%;
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .advantage {
    flex-direction: row;
    height: 256px;
  }
}

.advantage__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantage__list {
    display: flex;
    width: 100%;
    gap: 12%;
  }
}

.advantage__item:not(:last-child) {
  position: relative;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantage__item:not(:last-child)::after {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 150px;
  left: -8.5px;
  content: "";
  background-color: #D6D6D6;
}
@media (min-width: 768px) {
  .advantage__item:not(:last-child)::after {
    display: none;
  }
}

@media (min-width: 768px) {
  .advantage__item {
    width: 33.3%;
  }
}
@media (min-width: 1200px) {
  .advantage__item {
    width: 33.3%;
  }
}

.advantage__text {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .advantage__text_width {
    display: inline-flex;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantage__text_width {
    width: 145px;
  }
}
@media (min-width: 1200px) {
  .advantage__text_width {
    width: 270px;
  }
}

@media (min-width: 1200px) {
  .advantage__text_width:first-child {
    width: 284px;
  }
}

.advantage__text-wrapper-town {
  padding: 17vw 15px 38px 15px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantage__text-wrapper-town {
    padding: 40px 32px 44px 32px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  .advantage__text-wrapper-town {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .advantage__text-wrapper-town {
    padding: 40px 52px 57px 52px;
  }
}

.advantage__text-wrapper-canyon {
  padding: 39px 16px 35px 15px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantage__text-wrapper-canyon {
    padding: 43px 36px 41px 36px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  .advantage__text-wrapper-canyon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    order: 2;
  }
}

@media (max-width: 767px) {
  .advantage__title br {
    display: none;
  }
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .advantage__title {
    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: 768px) {
  .advantage__title_width {
    display: inline-flex;
  }
}

.advantage_blue {
  background-color: #81B3D2;
}

.advantage_grey {
  background-color: #EEEEEE;
}

.advantage_padding {
  padding: 25px 30px 25px 30px;
}
@media (min-width: 768px) {
  .advantage_padding {
    padding-top: 42px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantage_padding {
    padding-left: 33px;
    padding-right: 40px;
    padding-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .advantage_padding {
    padding-left: 42px;
    padding-right: 55px;
    padding-bottom: 62px;
  }
}

.advantage__title_color,
.advantage__number_color {
  color: #000000;
}

.advantage__number {
  margin-top: 0;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .advantage__picture-container {
    height: 260px;
  }
}
@media (min-width: 768px) {
  .advantage__picture-container {
    height: 256px;
    flex-basis: 67%;
  }
}

.advantage__img {
  width: 100%;
  height: 100%;
}

.advices {
  padding: 35px 45px 35px 70px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advices {
    padding: 158px 31px 60px 36px;
  }
}
@media (min-width: 1200px) {
  .advices {
    padding-top: 158px;
    padding-bottom: 80px;
  }
}

.advices__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advices__list {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advices__list {
    display: flex;
    gap: 70px;
  }
}
@media (min-width: 1200px) {
  .advices__list {
    display: flex;
    gap: 105px;
  }
}

.advices__item {
  position: relative;
}
@media (min-width: 768px) {
  .advices__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advices__item_housing::before {
  position: absolute;
  content: "";
  width: 39px;
  height: 36px;
  left: -51px;
  top: -11px;
  background-image: url("/source/img/icons/icon-house.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advices__item_housing::before {
    width: 75px;
    height: 72px;
    top: -100px;
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .advices__item_housing::before {
    left: auto;
  }
}

.advices__item_souvenirs::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 38px;
  left: -51px;
  top: -8px;
  background-image: url("/source/img/icons/icon-gift.svg");
}
@media (min-width: 768px) {
  .advices__item_souvenirs::before {
    width: 64px;
    height: 75px;
    top: -100px;
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .advices__item_souvenirs::before {
    left: auto;
  }
}

.advices__item_food::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 35px;
  left: -51px;
  top: -7px;
  background-image: url("/source/img/icons/icon-burger.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advices__item_food::before {
    width: 76px;
    height: 67px;
    top: -100px;
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .advices__item_food::before {
    left: auto;
  }
}

.advices__title {
  margin-top: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .advices__title {
    font-size: 21px;
  }
}

.advices__text {
  margin-top: 0;
  margin-bottom: 26px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advices__text {
    text-align: center;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .advices__text {
    text-align: center;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advices__text:first-child {
    width: 185px;
  }
  .advices__text:nth-child(2) {
    width: 180px;
  }
  .advices__text:last-child {
    width: 193px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .advices__text_margin {
    margin-bottom: 0;
  }
}

.search-hotel {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 33px 20px 49px 20px;
}

.search-hotel__title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .search-hotel__title {
    font-size: 30px;
    line-height: 26px;
  }
}

.search-hotel__text {
  margin-top: 0;
  margin-bottom: 27px;
  line-height: 1.71rem;
}
@media (min-width: 768px) {
  .search-hotel__text {
    width: 435px;
  }
}

.search-hotel__button {
  width: 280px;
  height: 57px;
}
@media (min-width: 768px) {
  .search-hotel__button {
    width: 458px;
  }
}

.map__img {
  width: 100%;
}

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}

.page-footer__link {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 33px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.page-footer__social-list {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  list-style: none;
  margin: 0 0 45px 0;
  padding: 0;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  transition: 250ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.page-footer__social-link:hover {
  background-color: #669EC0;
}
.page-footer__social-link:active {
  background-color: #5496BD;
}

.copyright {
  display: flex;
  -moz-column-gap: 11px;
       column-gap: 11px;
  align-items: center;
}

.copyright__title {
  margin: 0;
}

.copyright__image:hover {
  fill: #81B3D2;
}
.copyright__image:active {
  fill: rgba(0, 0, 0, 0.3);
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .gallery {
    padding: 32px 15px 16px 15px;
    border-bottom: 1px solid #E5E5E5;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .gallery {
    padding: 65px 155px 80px 155px;
  }
}
@media (min-width: 1200px) {
  .gallery {
    padding: 102px 370px 67px 370px;
  }
}

.gallery__title {
  margin-top: 0;
}
@media (max-width: 767px) {
  .gallery__title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 35px;
  }
}

.gallery__text {
  margin: 0;
  text-align: center;
  line-height: 24px;
}
@media (max-width: 767px) {
  .gallery__text {
    width: 275px;
  }
}
@media (min-width: 768px) {
  .gallery__text {
    width: 447px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .photofeed {
    padding: 0 60px 58px 60px;
  }
}
@media (min-width: 1200px) {
  .photofeed {
    margin-bottom: 57px;
  }
}

.photofeed__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .photofeed__list {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .photofeed__item-wrapper {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .photofeed__caption-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 20px 8px 19px;
  }
}
@media (min-width: 1200px) {
  .photofeed__caption-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px 15px 21px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    z-index: 5;
  }
}

.photofeed__item {
  display: flex;
}
@media (max-width: 767px) {
  .photofeed__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 20px 15px 20px;
    border-bottom: 1px solid #E5E5E5;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .photofeed__item {
    flex-basis: 50%;
    background-color: #F2F2F2;
  }
}
@media (min-width: 1200px) {
  .photofeed__item {
    position: relative;
    flex-basis: 33.3%;
  }
}
@media (min-width: 768px) {
  .photofeed__item:first-child {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .photofeed__item:nth-child(3) {
    background-color: #EAEAEA;
  }
}

@media (min-width: 768px) {
  .photofeed__image {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .photofeed__image {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .photofeed__caption-container,
.photofeed__like {
    background-color: #F2F2F2;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .photofeed__caption-container_background,
.photofeed__like_background {
    background-color: #EAEAEA;
  }
}

.photofeed__caption-title {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 7px;
}
@media (min-width: 1200px) {
  .photofeed__caption-title {
    margin-bottom: 3px;
    color: #FFFFFF;
  }
}

.photofeed__caption-author {
  line-height: 24px;
  margin: 0;
  text-transform: none;
}
@media (max-width: 767px) {
  .photofeed__caption-author {
    margin-bottom: 7px;
  }
}
@media (min-width: 1200px) {
  .photofeed__caption-author {
    color: #FFFFFF;
  }
}

.photofeed__like {
  display: flex;
  align-items: baseline;
}
@media (max-width: 767px) {
  .photofeed__like {
    gap: 14px;
  }
}
@media (min-width: 768px) {
  .photofeed__like {
    gap: 9px;
  }
}
@media (min-width: 1200px) {
  .photofeed__like {
    color: #FFFFFF;
  }
}

.photofeed__like-counter {
  margin: 0;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 27px 49px 27px;
}
@media (min-width: 768px) {
  .offer {
    padding: 0 60px 35px 60px;
  }
}
@media (min-width: 1200px) {
  .offer {
    padding: 0 200px 85px 200px;
  }
}

.offer__title {
  margin-top: 0;
}
@media (max-width: 767px) {
  .offer__title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) {
  .offer__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .offer__title {
    margin-bottom: 40px;
  }
}

.offer__text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
}
@media (max-width: 767px) {
  .offer__text {
    width: 266px;
    margin-bottom: 33px;
  }
}
@media (min-width: 768px) {
  .offer__text {
    width: 445px;
  }
}
@media (min-width: 1200px) {
  .offer__text {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .offer__image {
    width: 100%;
    height: 100%;
  }
}

.offer__buttons {
  position: relative;
}
@media (max-width: 767px) {
  .offer__buttons {
    width: 280px;
    height: 66px;
    background-color: #F2F2F2;
  }
}

@media (max-width: 767px) {
  .offer__buttons-replay-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 23px 18px 23px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .offer__buttons-replay-wrapper {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .offer__buttons-replay-wrapper {
    position: relative;
  }
}

.offer__buttons-replay,
.offer__buttons-subtitles,
.offer__buttons-fullscreen {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.offer__buttons-replay:hover,
.offer__buttons-subtitles:hover,
.offer__buttons-fullscreen:hover {
  transform: scale(1.5);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .offer__buttons-replay,
.offer__buttons-subtitles,
.offer__buttons-fullscreen {
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .offer__buttons-replay,
.offer__buttons-subtitles,
.offer__buttons-fullscreen {
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .offer__buttons-replay {
    top: -59px;
    left: -278px;
  }
}
@media (min-width: 1200px) {
  .offer__buttons-replay {
    top: -56px;
    left: -367px;
  }
}

@media (max-width: 767px) {
  .offer__buttons-replay-image,
.offer__buttons-subtitles-image,
.offer__buttons-fullscreen-image {
    fill: #5C6870;
  }
}
@media (min-width: 768px) {
  .offer__buttons-replay-image,
.offer__buttons-subtitles-image,
.offer__buttons-fullscreen-image {
    fill: #FFFFFF;
  }
}
@media (max-width: 767px) {
  .offer__buttons-replay-image:hover,
.offer__buttons-subtitles-image:hover,
.offer__buttons-fullscreen-image:hover {
    fill: #333333;
  }
}
@media (min-width: 768px) {
  .offer__buttons-replay-image:hover,
.offer__buttons-subtitles-image:hover,
.offer__buttons-fullscreen-image:hover {
    fill: rgba(255, 255, 255, 0.6);
  }
}
@media (max-width: 767px) {
  .offer__buttons-replay-image:active,
.offer__buttons-subtitles-image:active,
.offer__buttons-fullscreen-image:active {
    fill: rgba(51, 51, 51, 0.3);
  }
}
@media (min-width: 768px) {
  .offer__buttons-replay-image:active,
.offer__buttons-subtitles-image:active,
.offer__buttons-fullscreen-image:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 767px) {
  .offer__buttons-subtitles {
    margin-left: 130px;
    margin-right: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .offer__buttons-subtitles {
    top: -56px;
    right: -245px;
  }
}
@media (min-width: 1200px) {
  .offer__buttons-subtitles {
    top: -56px;
    right: -320px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .offer__buttons-fullscreen {
    top: -56px;
    right: -298px;
  }
}
@media (min-width: 1200px) {
  .offer__buttons-fullscreen {
    top: -56px;
    right: -370px;
  }
}

.input__range {
  position: absolute;
}
@media (max-width: 767px) {
  .input__range {
    width: 280px;
    bottom: 70px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .input__range {
    width: 648px;
    bottom: 3px;
    left: -324px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1200px) {
  .input__range {
    width: 800px;
    bottom: 3px;
    left: -400px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.input__range-track {
  position: relative;
  height: 45px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .input__range-track {
    padding: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .input__range-track {
    width: 389px;
    left: 113px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .input__range-track {
    width: 540px;
    left: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.input-range__scale {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.input-range__button {
  position: absolute;
  width: 13px;
  height: 13px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: #FFFFFF;
  background-color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 767px) {
  .input-range__button {
    top: 18px;
  }
}
@media (min-width: 768px) {
  .input-range__button {
    top: 40px;
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .feedback {
    padding: 32px 15px 16px 15px;
    border-bottom: 1px solid #E5E5E5;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .feedback {
    padding: 65px 155px 67px 155px;
  }
}
@media (min-width: 1200px) {
  .feedback {
    padding: 102px 370px 56px 370px;
  }
}

.feedback__title {
  margin-top: 0;
}
@media (max-width: 767px) {
  .feedback__title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .feedback__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 35px;
  }
}

.feedback__text {
  margin: 0;
  text-align: center;
  line-height: 24px;
}
@media (max-width: 767px) {
  .feedback__text {
    width: 275px;
  }
}
@media (min-width: 768px) {
  .feedback__text {
    width: 434px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (max-width: 767px) {
  .introduce {
    padding: 20px 20px 25px 20px;
    border-bottom: 1px solid #E5E5E5;
  }
}
@media (min-width: 768px) {
  .introduce {
    order: 2;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .introduce {
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .introduce {
    margin-left: auto;
  }
}

.introduce__field {
  color: #333333;
}

.introduce__field {
  display: flex;
  align-items: baseline;
  gap: 13px;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .introduce__field {
    gap: 15px;
  }
}

.introduce__field_patronymic {
  margin-bottom: 0;
}

.introduce__title {
  margin-top: 0;
}
@media (max-width: 767px) {
  .introduce__title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 19px;
  }
}
@media (min-width: 768px) {
  .introduce__title {
    margin-bottom: 54px;
  }
}

.input {
  width: 100%;
  height: 58px;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 22px;
  background-color: #F2F2F2;
  border: none;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .input {
    min-width: 210px;
  }
}
@media (min-width: 1200px) {
  .input {
    min-width: 312px;
  }
}

.input::-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.input::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.contact-information {
  margin: 0;
  padding: 0;
  border: 0;
}
@media (max-width: 767px) {
  .contact-information {
    margin-top: 20px;
    padding: 20px 20px 28px 20px;
    border-bottom: 1px solid #E5E5E5;
  }
}
@media (min-width: 768px) {
  .contact-information {
    border-top: 1px solid #D6D6D6;
    order: 3;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-information {
    width: 100%;
    padding-bottom: 51px;
  }
}
@media (min-width: 1200px) {
  .contact-information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 51px;
  }
}

.contact-information__title {
  text-align: center;
  font-weight: 700;
}
@media (max-width: 767px) {
  .contact-information__title {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-information__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .contact-information__title {
    font-size: 21px;
    line-height: 26px;
    width: 309px;
  }
}
@media (min-width: 1200px) {
  .contact-information__title {
    flex-basis: 100%;
    margin-bottom: 85px;
  }
}

.contact-information__field {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-information__field {
  position: relative;
}
@media (min-width: 1200px) {
  .contact-information__field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.contact-information__field_tel::after {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 24px;
  right: 0;
  background: url("/source/img/icons/phone.svg") no-repeat, #E6E6E6;
  background-position: center;
  content: "";
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-information__field_tel::after {
    top: 26px;
  }
}
@media (min-width: 1200px) {
  .contact-information__field_tel::after {
    top: 0;
  }
}
@media (max-width: 767px) {
  .contact-information__field_tel {
    margin-bottom: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-information__field_tel {
    margin-bottom: 25px;
  }
}

.contact-information__field_email::after {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 24px;
  right: 0;
  background: url("/source/img/icons/mail.svg") no-repeat, #E6E6E6;
  background-position: center;
  content: "";
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-information__field_email::after {
    top: 26px;
  }
}
@media (min-width: 1200px) {
  .contact-information__field_email::after {
    top: 0;
  }
}

@media (max-width: 767px) {
  .contact-information__label {
    margin-left: 21px;
    margin-bottom: 6px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-information__label {
    margin-left: 22px;
    margin-bottom: 8px;
  }
}

@media (min-width: 1200px) {
  .contact-information__label_tel {
    display: none;
  }
}

@media (max-width: 1199px) {
  .contact-information__label_visible {
    display: none;
  }
}

@media (min-width: 1200px) {
  .contact-information__input {
    width: 312px;
  }
}

.fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .fieldset {
    border-bottom: 1px solid #E5E5E5;
  }
}

.fieldset_impression {
  position: relative;
}
@media (max-width: 767px) {
  .fieldset_impression {
    margin-top: 20px;
    padding-left: 24px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .fieldset_impression {
    order: 1;
  }
  .fieldset_impression::after {
    position: absolute;
    width: 1px;
    height: 292px;
    content: "";
    background-color: #D6D6D6;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .fieldset_impression {
    padding-bottom: 85px;
  }
  .fieldset_impression::after {
    top: -83px;
    left: 41vw;
  }
}
@media (min-width: 1200px) {
  .fieldset_impression {
    padding-bottom: 94px;
  }
  .fieldset_impression::after {
    top: -92px;
    left: 39vw;
  }
}

@media (min-width: 768px) {
  .fieldset_sights {
    order: 4;
  }
}
@media (min-width: 1200px) {
  .fieldset_sights {
    width: 100%;
  }
}

.fieldset__title {
  text-align: center;
  font-weight: 700;
}
@media (max-width: 767px) {
  .fieldset__title {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .fieldset__title {
    font-size: 21px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .fieldset__title_impression {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .fieldset__title_impression {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .fieldset__title_impression {
    margin-left: 72px;
    margin-bottom: 60px;
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .fieldset__item_impression:not(:last-child) {
    margin-bottom: 21px;
  }
}
@media (min-width: 768px) {
  .fieldset__item_impression:not(:last-child) {
    margin-bottom: 30px;
  }
}

.fieldset_sights {
  width: 100%;
}
@media (max-width: 767px) {
  .fieldset_sights {
    margin-top: 15px;
    padding-left: 24px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  .fieldset_sights {
    border-top: 1px solid #D6D6D6;
    padding-bottom: 73px;
  }
}

@media (min-width: 768px) {
  .fieldset__title_sights {
    max-width: 308px;
  }
}

.fieldset__list_sights {
  display: flex;
}
@media (max-width: 767px) {
  .fieldset__list_sights {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .fieldset__list_sights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding-left: 100px;
    padding-right: 75px;
  }
}
@media (min-width: 768px) {
  .fieldset__list_sights {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .fieldset__item_sights:not(:last-child) {
    margin-bottom: 34px;
  }
}
@media (min-width: 768px) {
  .fieldset__item_sights:not(:nth-last-child(-n+2)) {
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .fieldset__title_sights {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .fieldset__title_sights {
    margin-bottom: 47px;
  }
}

.input-radio {
  display: flex;
  align-items: flex-start;
}

.input-radio__control:disabled + .input-radio__label-wrapper {
  opacity: 0.3;
}

.input-radio__control:focus-visible + .input-radio__label-wrapper .input-radio__button {
  box-shadow: 0 0 0 2px #81B3D2;
}

.input-radio__control:focus-visible {
  opacity: 1;
}

.input-radio__control:checked + .input-radio__label-wrapper .input-radio__button::before {
  visibility: visible;
}

.input-radio__label-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
  cursor: pointer;
  transition: opacity 250ms;
}

.input-radio__label-wrapper:hover .input-radio__button {
  background-color: #E5E5E5;
  border: 5px solid #E5E5E5;
}

.input-radio__label-wrapper:active .input-radio__button {
  background-color: #D6D6D6;
  border: 5px solid #D6D6D6;
}

.input-radio__label-wrapper:active .input-radio__button::before {
  opacity: 0.3;
}

.input-radio__label {
  font-size: 18px;
  line-height: 26px;
  overflow: hidden;
  max-width: 200px;
  font-weight: 700;
  text-transform: none;
  text-overflow: ellipsis;
}

.input-radio__button {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  outline: 0;
  border-radius: 50%;
  border: 5px solid #F2F2F2;
  background-color: #F2F2F2;
}
.input-radio__button::before {
  display: block;
  visibility: hidden;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  content: "";
  background-color: #333333;
}

@media (min-width: 768px) {
  .user-information-form {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-information-form__submit {
  display: flex;
}
@media (max-width: 767px) {
  .user-information-form__submit {
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .user-information-form__submit {
    justify-content: space-between;
    width: 100%;
    order: 6;
  }
}
@media (min-width: 1200px) {
  .user-information-form__submit {
    margin-bottom: 66px;
  }
}

@media (max-width: 767px) {
  .user-information-form__submit-button {
    width: 280px;
    padding: 18px 33px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .user-information-form__submit-button {
    width: 324px;
    padding: 18px 55px;
  }
}
@media (min-width: 1200px) {
  .user-information-form__submit-button {
    width: 480px;
    padding: 18px 132px;
  }
}

@media (max-width: 767px) {
  .user-information-form__submit-required-fields {
    display: none;
  }
}

.emotions {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
}
@media (min-width: 768px) {
  .emotions {
    width: 100%;
    border-top: 1px solid #D6D6D6;
    order: 5;
  }
}
@media (max-width: 767px) {
  .emotions {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.emotions__title {
  text-align: center;
  margin-top: 0;
  font-weight: 700;
}
@media (max-width: 767px) {
  .emotions__title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .emotions__title {
    font-size: 21px;
    line-height: 26px;
    width: 388px;
    margin-bottom: 54px;
  }
}

.emotions__area {
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  height: 160px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  color: #000000;
  resize: none;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .emotions__area {
    margin-bottom: 51px;
    padding: 13px 20px;
  }
}
@media (min-width: 768px) {
  .emotions__area {
    margin-bottom: 58px;
    padding: 18px 21px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .emotions__area {
    min-width: 648px;
  }
}
@media (min-width: 1200px) {
  .emotions__area {
    min-width: 960px;
  }
}

.emotions__area::-moz-placeholder {
  color: #000000;
}

.emotions__area::placeholder {
  color: #000000;
}

.input-checkbox {
  display: flex;
}

.input-checkbox__control:disabled + .input-checkbox__label-wrapper {
  opacity: 0.3;
}

.input-checkbox__control:focus-visible + .input-checkbox__label-wrapper .input-checkbox__button {
  box-shadow: 0 0 0 2px #81B3D2;
}

.input-checkbox__control:checked + .input-checkbox__label-wrapper .input-checkbox__button {
  background-image: url("/source/img/inputs/checkbox-on.svg");
  background-repeat: no-repeat;
  border: 7px solid #F2F2F2;
}

.input-checkbox__control:checked:hover + .input-checkbox__label-wrapper .input-checkbox__button {
  background-image: url("/source/img/inputs/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  border: 7px solid #E5E5E5;
}

.input-checkbox__control:checked:active + .input-checkbox__label-wrapper .input-checkbox__button {
  background-image: url("/source/img/inputs/checkbox-on-active.svg");
  background-repeat: no-repeat;
  border: 7px solid #D6D6D6;
}

.input-checkbox__label-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 29px;
       column-gap: 29px;
  cursor: pointer;
  transition: opacity 250ms;
}

.input-checkbox__label-wrapper:hover .input-checkbox__button {
  background-color: #E5E5E5;
  border: 7px solid #E5E5E5;
}

.input-checkbox__label-wrapper:active .input-checkbox__button {
  background-color: #D6D6D6;
  border: 7px solid #D6D6D6;
}

.input-checkbox__button {
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  background-position-x: center;
  background-position-y: center;
  box-sizing: border-box;
  border: 5px solid #F2F2F2;
  border-radius: 7px;
  outline: none;
}

.input-checkbox__label {
  position: relative;
  overflow: hidden;
  max-width: 200px;
  text-transform: uppercase;
  text-overflow: ellipsis;
}
/*# sourceMappingURL=style.css.map */
