.catalog {
    width: 100%;
    height: 1289px;
    margin-top: 21px;
}

.bread_crumbs {
    display: flex;
    width: 49.2%;
    background-color: #F1F5F7;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.bread_crumbs .fa-house-chimney {
    font-size: 12px;
    color: #C1C6CE;
    display: inline-block;
}

.bread_crumbs .fa-chevron-right {
    font-size: 8px;
    color: #C1C6CE;
    display: inline-block;
}

.bread_crumbs a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease;
}
.bread_crumbs a:last-child {
    margin-right: 105px;
}
.bread_crumbs a:hover {
    text-decoration: underline;
    color: #C1C6CE;
}
.catalog_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.catalog_filter {
    width: 23.4%;
    height: 720px;
    background-color: #F1F5F7;
}
.filter-title {
    display: flex;
    width: 100%;
    height: 38px;
    margin: 0;
    align-items: center;
    padding-left: 18px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background: #F7F3EC;
    box-sizing: border-box;
}
.catalog_filter form {
    width: 100%;
    position: relative;
    height: 100%;
}
.values {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-value {
    width: 43.18%;
    height: 38px;
    background: #F7F3EC;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.catalog_filter form h4 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: black;
}
.price_container {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #F7F3EC;
}

/*сам элемент*/
input[type='range'] {
    appearance: none;   /*Internet Explorer*/ /*Отключение стандартного отображения используя стили системы*/
    -webkit-appearance: none; /*Safari Chrome Opera*/ /*Отключение стандартного отображения используя стили системы*/
    -moz-appearance: none; /*Mozilla Firefox*/ /*Отключение стандартного отображения используя стили системы*/
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
    outline: none;
}

/*Дорожка элемента*/
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none; /*Отключение стандартного отображения используя стили системы*/
    height: 2px;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none; /*Отключение стандартного отображения используя стили системы*/
    height: 2px;
}
input[type='range']::-ms-track {
    appearance: none; /*Отключение стандартного отображения используя стили системы*/
    height: 2px;
}

/*Ползунок элемента*/
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /*Отключение стандартного отображения используя стили системы*/
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgb(83, 64, 182);
    pointer-events: auto;
    cursor: pointer;
    border: none;
    margin-top: -9px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none; /*Отключение стандартного отображения используя стили системы*/
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgb(83, 64, 182);
    pointer-events: auto;
    cursor: pointer;
    border: none;
    margin-top: -9px;
}
input[type='range']::-ms-thumb{
    appearance: none; /*Отключение стандартного отображения используя стили системы*/
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgb(83, 64, 182);
    pointer-events: auto;
    cursor: pointer;
    border: none;
    margin-top: -9px;
}
.slider-track {
    width: 100%;
    height: 2px;
    margin: auto;
    padding: 0;
    background: #D7DCDE;
    position: absolute;
    top: 0;
    bottom: 0;
}

.manufactures_form_filter {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    padding-bottom: 20px;
    margin-top: 72px;
    border-top: 1px solid rgba(119, 110, 102, 0.534);
    border-bottom: 1px solid rgba(119, 110, 102, 0.534);
}

.custom-checkbox>input {
    width: 27px;
    height: 23px;
    z-index: -1;
    opacity: 0;
    position:absolute;
}

.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;

    font-family: 'PT Sans';
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}

.custom-checkbox>span::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 23px;
    border: 2px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 12px;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: right 35%;
}
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
    box-shadow: 0 0 5px 0 #b3d7ff;
  }
  
.custom-checkbox>input:not(:disabled):active+span::before {
    box-shadow: inset 0 0 5px 5px #b3d7ff;
}

.custom-checkbox>input:not(:disabled):checked+span::before {
    background-image: url(/img/checkbox.png);
    background-size: 21.72px 16.76px;
}
.custom-checkbox>input:not(:disabled):checked:hover+span::before {
    box-shadow: 0 0 5px 5px #ab98a2;
}
.manufactures_form_filter h4 {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 17.5px;  
    padding: 0;
}


.charger_form_filter {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.charger_form_filter h4 {
    margin: 0;
    margin-bottom: 17.5px;
}

.custom-radio>input {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: -1;
    opacity: 0;
    margin-right: 12px;
}

.custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}

.custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid #C5C5C5;
    border-radius: 50%;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio>input:not(:disabled):not(:checked):hover+span:hover::before{
    border-color: #b3d7ff;
    box-shadow: 0 0 5px 0 #b3d7ff;
}

.custom-radio>input:not(:disabled):active+span::before{
    box-shadow: 0 0 2px 2px #2761a3;
}

.custom-radio>input:not(:disabled):focus+span::before{
    box-shadow: 0 0 2px 2px #2761a3;
}
.custom-radio>input:focus+span::before{
    box-shadow: 0 0 2px 2px #2761a3;
}

.custom-radio>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
}
.custom-radio>input:checked+span::before {
    background-image: url(/img/Oval.png);
    box-shadow: 0 0 2px 2px #2761a3;
}

.custom-radio>input:disabled+span::before {
    background-color: #e9ecef;
}


.button-filter {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 1px solid #C5C5C5;
    background-color: white;
    position: absolute;
    bottom: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: black;
    transition: 0.3s ease;
}

.button-filter:hover {
    background-color: rgb(179, 166, 149);
    box-shadow: inset 0 5px 5px 0 #8a8d8e;
}

.button-filter:active {
    box-shadow: inset 0 5px 5px 0 #1aa7d6;
}

.catalog-body {
    display: flex;
    flex-direction: column;
    width: 74.46%; 
    margin-left: 20px;
}
.catalog_sort {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F3EC;
}

.catalog_sort p {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding-left: 19px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: black;
}

.sort-prop {
    display: block;
    color: #000000;
    opacity: 0.3;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    transition: 0.3s ease;
}

.sort-prop:hover {
    text-decoration: underline;
}

.sort-prop:active {
    box-shadow: 0 0 2px 2px #EE3643;
}
.fa-sort-up {
    font-size: 17px;
    color: #C5C5C5;
    margin: 0;
    margin-top: 8px;
}
.fa-sort-down {
    font-size: 17px;
    color: #C5C5C5;
    margin-right: 14px;
    margin-left: 21px;
    margin-top: -10px;
}

.sort-price {
    margin: 0;
    padding: 0;
    margin-left: 20%;
}

.sort-type {
    margin: 0;
    padding: 0;
    margin-left: 10%;
}

.sort-function {
    margin: 0;
    padding: 0;
    margin-left: 9.2%;
    margin-right: 6.5%;
}

.sort-active {
    color: #EE3643;
    opacity: 1;
}

.fa-sort-red {
    color:#EE3643;
}


.pugination {
    max-width: 40.5%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1F5F7;
    margin-top: 48px;
}
.pug {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.38%;
    height: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    background: white;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    transition: 0.3s ease;
}

.pug:hover {
    border: 1px solid #C5C5C5;
}
.pug:active {
    border: 1px solid #EE3643;
}


.pug-next {
    width: 49.29%;
    height: 100%;
}