.popular_products {
    width: 100%;
    height: 427px;
    margin: 0;
    margin-top: 60px;
    padding: 0;
}
.top-layer {
    background: #F9F5F0;
    max-width: 100%;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-layer h2 {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
    margin-left: 28px;
}
@media screen and (max-width: 850px) {
    .top-layer h2 {
        font-size: 20px;    
    }
}

.top-layer a {
    display: flex;
    background: #EE3643;
    width: 192px;
    height: 38px;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    transition: 0.3s ease;
}
.top-layer a:hover {
    background: #CA2C37;
}
.top-layer a:active {
    background: rgba(186, 39, 50, 1);
}

.popular_product-body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-top: 20px;
}

.bosh {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    margin: 0;
    margin-right: 2.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    height: 318px;
    position: relative;
    overflow: hidden;

    transition: 0.5s ease;
}
.bosh:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.bosh:hover.bosh img {
    opacity: 0;
}
.bosh:hover .button_buy {
    display: flex;
}
.bosh:hover .button_bookmarks {
    display: flex;
}
.bosh:last-child {
    margin: 0;
}

.bosh img {
    transition: 0.3s ease;
}
.bosh_1 img {
    margin-top: 6px;
    margin-bottom: 8px;

}
.bosh_1 p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    margin-bottom: 6px;
    text-align: center;
}

.bosh_1 span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #A9A9A9;
    margin: 0;
    margin-bottom: 13px;
}

.button-price {
    background: none;
    border: none;
    width: 64%;
    height: 3.1vw;
    background-image: url(/img/red-button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: white;
    margin-bottom: 21px;
}

.bosh_2 img {
    margin-top: 29px;
    margin-bottom: 38px;
}

.bosh_2 p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}

.bosh_2 span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #A9A9A9;
    margin: 0;
    margin-bottom: 13px;
}

.bosh_3 img {
    margin-top: 22px;
    margin-bottom: 28px;
}

.bosh_3 p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    margin-bottom: 7px;
    text-align: center;
}

.bosh_3 span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #A9A9A9;
    margin: 0;
    margin-bottom: 13px;
}

.bosh_4 img {
    margin-top: 29px;
    margin-bottom: 38px;
}

.bosh_4 p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    margin-bottom: 7px;
    text-align: center;
}

.bosh_4 span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #A9A9A9;
    margin: 0;
    margin-bottom: 13px;
}

.new {
    width: 100px;
    height: 30px;
    background: #EE3643;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -30px;
    top: 5px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    transform: rotate(45deg);
}

.button_buy {
    display: none;
    width: 61.3%;
    height: 38px;
    background: #63A63E;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    text-transform: uppercase;
    position: absolute;
    top: 38px;
    margin: 0 auto;
    transition: 0.5s ease;
    user-select: none;
    justify-content: center;
    align-items: center;
    
    
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;

    margin: 0;

}
.button_buy:hover {
    background: #5FBB2D;
}

.button_buy:active {
    background: #518534;
}

.button_bookmarks {
    display: none;
    width: 61.3%;
    height: 38px;
    background: transparent;
    border-radius: 2px;
    border: 3px solid #63A63E;
    text-transform: uppercase;
    position: absolute;
    top: 86px;
    margin: 0 auto;
    transition: 0.5s ease;
    user-select: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #32425C;
}

.button_bookmarks:hover {
    border: 3px solid #32425C;
}

.button_bookmarks:active {
    opacity: 0.5;
}
