.slider_menu {
    margin: 0;
    width: 100%;
    height: 409px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}

.slider_item {
    width: 31.9%;
    height: 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}


@media screen and (max-width: 958px) {
    .slider_item img{
        display: none;
    }

}

.slider_item:not(:first-child) {
    margin-left: 2.12%;
}
.slider_sub-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 22px;
}
.slider_sub-item h3 {
    margin: 0px;
    margin-bottom: 14px;
    color: white;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.slider_sub-item a {
    display: flex;
    width: 135px;
    height: 38px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    margin: 0;

    color: white;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s ease-in-out;

}
.slider_sub-item a:hover {
    background: rgba(197, 197, 197, 0.3)
}
.slider_sub-item a:active {
    background: rgba(169, 169, 169, 0.3);
}
.material {
    background-color: #FFBF47;
}
.material img {
    margin-right: 43px;
}
.tools {
    background-color: #3BBCE3;
}
.tools img {
    margin-right: 31px;
}
.mechanism {
    background-color: #DC91D8;
}
.mechanism img {
    margin-right: 31px;
}
.discount {
    background-color: #8ED78F;
    position: absolute;
    right: 0;
    top: 143px;

}
.discount img {
    margin-right: 45px;
}
.delivery {
    background-color: #FFBF47;
    position: absolute;
    right: 0;
    top: 286px;
}
.delivery img {
    margin-right: 31px; 
}

.slider_visible_container {
    position: relative;
    width: 65.9%;
    height: 65.03%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0;
    margin-top: 2.12%;
    transition: 0.5s ease;
}
.red_button {
    display: flex;
    background: #EE3643;
    width: 30.9%;
    height: 38px;

    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 12.6vw;
    margin-left: 20px;
    transition: 0.3s ease;
}
.red_button:hover {
    background: #CA2C37;
}
.red_button:active {
    background: rgba(186, 39, 50, 1);
}
@media screen and (max-width:1100px) {
    .slider_visible_container a {
        display: none;
    } 
}
.slider_moved_block {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    min-width: 100%;
    transition: 0.5s ease;
    display: flex;
}
.slidered_block {
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slidered_block.first {
    background-image: url(/img/slider-img\ 2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.slidered_block.second {
    background-image: url(/img/slider-img\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.slidered_block h2 {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    padding-top: 23px;
    padding-left: 24px;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: white;
}

.slidered_block p {
    display: block;
    margin: 0;
    padding-left: 24px;
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.fa-angle-left {
    font-size: 50px;
    color: white;
    width: 20px;
    position: absolute;
    left: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.fa-angle-left:hover {
    color:bisque;
}
.fa-angle-left:active {
    color:rgb(232, 151, 52);
}

.fa-angle-right {
    font-size: 50px;
    color: white;
    width: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.fa-angle-right:hover {
    color:bisque;
}
.fa-angle-right:active {
    color:rgb(232, 151, 52);  
}
.staider_box {
    display: flex;
    height: 10px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 18.3vw;
}

@media screen and (min-width: 1200px) {
    .staider_box {
        top: 15.3vw;
    }
}
.staider {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    border: 2px solid white;
    background-color: transparent;
    transition: 0.5s ease;
}

.staider_active {
    background-color: #EE3643;
}


