.advices {
  padding: 35px 45px 35px 70px;
  @media #{$mq-tablet-only} {
    padding: 158px 31px 60px 36px;
  }
  @media (min-width: $mq-desktop) {
    padding-top: 158px;
    padding-bottom: 80px;
  }
}

.advices__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $mq-tablet) {
    display: flex;
    justify-content: space-around;
  }
  @media #{$mq-tablet-only} {
    display: flex;
    gap: 70px;
  }
  @media (min-width: $mq-desktop) {
    display: flex;
    gap: 105px;
  }
}

.advices__item {
  position: relative;
  @media (min-width: $mq-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advices__item_housing::before {
  position: absolute;
  content: "";

  width: 39px;
  height: 36px;
  left: -51px;
  top: -11px;

  background-image: url("/source/img/icons/icon-house.svg");
  background-repeat: no-repeat;
  @media (min-width: $mq-tablet) {
    width: 75px;
    height: 72px;
    top: -100px;
    background-size: contain;
  }
  @media (min-width: $mq-tablet) {
    left: auto;
  }
}

.advices__item_souvenirs::before {
  position: absolute;
  content: "";

  width: 32px;
  height: 38px;
  left: -51px;
  top: -8px;

  background-image: url("/source/img/icons/icon-gift.svg");
  @media (min-width: $mq-tablet) {
    width: 64px;
    height: 75px;
    top: -100px;
    background-size: contain;
  }
  @media (min-width: $mq-tablet) {
    left: auto;
  }
}

.advices__item_food::before {
  position: absolute;
  content: "";

  width: 40px;
  height: 35px;
  left: -51px;
  top: -7px;

  background-image: url("/source/img/icons/icon-burger.svg");
  background-repeat: no-repeat;
  @media (min-width: $mq-tablet) {
    width: 76px;
    height: 67px;
    top: -100px;
    background-size: contain;
  }
  @media (min-width: $mq-tablet) {
    left: auto;
  }
}

.advices__title {
  margin-top: 0;
  margin-bottom: 25px;
  @media (min-width: $mq-tablet) {
    font-size: 21px;
  }
}

.advices__text {
  margin-top: 0;
  margin-bottom: 26px;
  @media #{$mq-tablet-only} {
    text-align: center;
    margin-bottom: 0;
  }
  @media (min-width: $mq-tablet) {
    text-align: center;
    margin-bottom: 0;
  }
  @media #{$mq-tablet-only} {
    &:first-child {
      width: 185px;
    }
    &:nth-child(2) {
      width: 180px;
    }
    &:last-child {
      width: 193px;
      margin-bottom: 0;
    }
  }
}

.advices__text_margin {
  @media #{$mq-mobile-only} {
    margin-bottom: 0;
  }
}
