.advices {
  // position: relative;
  padding: 2.5rem 3.2rem 2.5rem 5rem;
  @media #{$mq-tablet-only} {
    padding: 158px 31px 60px 36px;
  }
}

.advices__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $mq-tablet) {
    display: flex;
    justify-content: space-around;
  }
  @media #{$mq-tablet-only} {
    display: flex;
    gap: 70px;
  }
  @media (min-width: $mq-desktop) {
    display: flex;
    gap: 105px;
  }
}

.advices__item {
  position: relative;
  @media (min-width: $mq-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advices__item_housing::before {
  position: absolute;
  content: "";

  width: 2.78rem;
  height: 2.57rem;
  left: -51px;
  top: -11px;

  background-image: url("/source/img/icons/icon-house.svg");
  background-repeat: no-repeat;
  @media (min-width: $mq-tablet) {
    width: 75px;
    height: 72px;
    top: -100px;
    background-size: contain;
  }
  @media #{$mq-tablet-only} {
    left: 30%;
  }
}

.advices__item_souvenirs::before {
  position: absolute;
  content: "";

  width: 2.28rem;
  height: 2.71rem;
  left: -51px;
  top: -8px;

  background-image: url("/source/img/icons/icon-gift.svg");
  @media (min-width: $mq-tablet) {
    width: 64px;
    height: 75px;
    top: -100px;
    background-size: contain;
  }
  @media #{$mq-tablet-only} {
    left: 35%;
  }
}

.advices__item_food::before {
  position: absolute;
  content: "";

  width: 2.85rem;
  height: 2.5rem;
  left: -51px;
  top: -7px;

  background-image: url("/source/img/icons/icon-burger.svg");
  background-repeat: no-repeat;
  @media (min-width: $mq-tablet) {
    width: 76px;
    height: 67px;
    top: -100px;
    background-size: contain;
  }
  @media #{$mq-tablet-only} {
    left: 30%;
  }
}

.advices__title {
  margin-top: 0;
  margin-bottom: 1.78rem;
  @media (min-width: $mq-tablet) {
    font-size: 21px;
  }
}

.advices__text {
  margin-top: 0;
  margin-bottom: 1.85rem;
  @media (min-width: $mq-tablet) {
    text-align: center;
    margin-bottom: 0;
  }
  @media #{$mq-tablet-only} {
    &:first-child {
      width: 185px;
    }
    &:nth-child(2) {
      width: 180px;
    }
    &:last-child {
      width: 193px;
      margin-bottom: 0;
    }
  }
}
