.button {
  @include font(21px, 26px);
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: $half-baked;
  color: $white;
  transition: $time-microinteraction;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: $fountain-blue;
  }
  &:active {
    background-color: $steel-blue;
    color: $white-30;
  }
  &:disabled {
    background-color: $mercury;
  }
}
