.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$mq-mobile-only} {
    padding: 32px 15px 44px 15px;
    border-bottom: 1px solid $mercury;
  }
  @media #{$mq-tablet-only} {
    padding: 65px 155px 80px 155px;
  }
  @media (min-width: $mq-desktop) {
    padding: 102px 370px 67px 370px;
  }
 }

 .gallery__title {
  margin-top: 0;
  @media #{$mq-mobile-only} {
    @include font(18px,26px);
    margin-bottom: 40px;
  }
  @media (min-width: $mq-tablet) {
    @include font(30px,26px);
    margin-bottom: 35px;
  }
 }

 .gallery__text {
  margin: 0;
  text-align: center;
  line-height: 24px;
  @media #{$mq-mobile-only} {
    width: 275px;
  }
  @media (min-width: $mq-tablet) {
    width: 447px;
  }
 }
