// .input-range-wrapper {
//   background-color: $black-30;
// }

.input__range {
  position: absolute;
  @media #{$mq-mobile-only} {
    width: 280px;
    bottom: 70px;
    background-color: $black-30;
  }
  @media #{$mq-tablet-only} {
    width: 648px;
    bottom: 3px;
    left: -324px;
    background-color: $black-30;
  }
  @media (min-width: $mq-desktop) {
    width: 800px;
    bottom: 3px;
    left: -400px;
    background-color: $black-30;
  }
}

.input__range-track {
  position: relative;
  height: 45px;
  box-sizing: border-box;
  @media #{$mq-mobile-only} {
    padding: 22px;
  }
  @media #{$mq-tablet-only} {
    width: 389px;
    left: 113px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  @media (min-width: $mq-desktop) {
    width: 540px;
    left: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.input-range__scale {
  height: 3px;

  background-color: $white-20;
}

.input-range__button {
  position: absolute;
  width: 13px;
  height: 13px;
  padding: 0;

  border-radius: 50%;
  outline: none;
  border: $white;
  background-color: $white;
  cursor: pointer;
  @media #{$mq-mobile-only} {
    top: 18px;
  }
  @media (min-width: $mq-tablet) {
    top: 40px;
  }
}
