.nav {
  position: relative;
  display: flex;
}

.nav__logo {
  position: absolute;
  top: -3rem;
  bottom: 0;
  left: 50%;
  transform:translate(-50%, -50%);
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__list_opened {
  @media (max-width: $mobile-width) {
    position: absolute;
    display: block;
    flex-direction: column;
    width: 100%;
    top: -4rem;
    z-index: 6;
  }
}

.nav__list_opened .nav__item {
  @media (max-width: $mobile-width) {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 55px;
    background-color: $half-baked;
    &:not(:first-child) {
      border-top: 1px solid $shadow-top;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $shadow-bottom;
    }
  }
}

.nav__list_opened .nav__link {
  @media (max-width: $mobile-width) {
    font-size: 1.28rem;
    line-height: 2.85rem;
    color: $white;
    text-decoration: none;
  }
}

.nav__toggle-container {
  @media (max-width: $mobile-width) {
    position: absolute;
    // margin-left: auto;
    // margin-right: 1.42rem;
    top: -3.21rem;
    left: 88%;
    cursor: pointer;
    z-index: 10;
  }
}

.nav__toggle-line_1, .nav__toggle-line_2, .nav__toggle-line_3 {
  width: 23px;
  height: 4px;
  background-color: $half-baked;
  margin: 5px 0;
  transition: 0.3s;
}

//Анимация меню-бургера
.change .nav__toggle-line_1 {
  transform: rotate(-45deg) translate(-9px, 5px);
  background-color: $white;
}
.change .nav__toggle-line_3 {
  transform: rotate(45deg) translate(-8px, -4px);
  background-color: $white;
}

.change .nav__toggle-line_2 {
  opacity: 0;
}
