.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2.85rem;
  padding-bottom: 1.85rem;
}

.page-footer__link {
  margin-bottom: 2.35rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: $black;
}

.page-footer__social-list {
  display: flex;
  column-gap: 0.42rem;
  list-style: none;
  margin: 0 0 3.21rem 0;
  padding: 0;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.28rem;
  height: 3.42rem;
  background-color: $half-baked;
}


