.search-hotel {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 33px 20px 49px 20px;
}

.search-hotel__title {
  @include font(21px, 26px);
  margin-top: 0;
  margin-bottom: 33px;
  @media (min-width: $mq-tablet) {
    @include font(30px, 26px);
  }
}

.search-hotel__text {
  margin-top: 0;
  margin-bottom: 27px;
  line-height: 1.71rem;
  @media (min-width: $mq-tablet) {
    width: 435px;
  }
}

.search-hotel__button {
  width: 280px;
  height: 57px;
  transition: $time-microinteraction;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: $fountain-blue;
  }
  &:active {
    background-color: $steel-blue;
    color: $white-30;
  }
  &:disabled {
    background-color: $mercury;
  }
  @media (min-width: $mq-tablet) {
    width: 458px;
  }
}

