//Colors
$black: #000000;
$black-30: rgba(0, 0, 0, 0.3);
$white: #FFFFFF;
$white-20: rgba(255, 255, 255, 0.2);;
$half-baked: #81B3D2;
$gallery: #EEEEEE;
$gallery2: #EAEAEA;
$concrete: #F2F2F2;
$alto: #D6D6D6;
$mercury: #E5E5E5;
$shadow-top: rgba(255, 255, 255, 0.2);
$shadow-bottom: rgba(1, 1, 1, 0.2);

@mixin font($font-size: 14px, $line-height: 21px) {
  font-size: $font-size;
  line-height: $line-height;
}

// Viewports
$mq-mobile: 320px;
$mq-tablet: 768px;
$mq-desktop: 1200px;

$mq-mobile-only: "(max-width: #{$mq-tablet - 1px})";
$mq-tablet-only: "(min-width: #{$mq-tablet}) and (max-width: #{$mq-desktop - 1px})";
$mq-before-desktop: "(max-width: #{$mq-desktop - 1px})";

// Times
$time-microinteraction: 250ms;
