.copyright {
  display: flex;
  column-gap: 11px;
  align-items: center;
}

.copyright__title {
  margin: 0;
}

.copyright__image {
  &:hover {
    fill: $half-baked;
  }
  &:active {
    fill: $black-30;
  }
}
