.emotions {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  @media (min-width: $mq-tablet) {
    width: 100%;
    border-top: 1px solid $alto;
    order: 5;
  }
  @media  #{$mq-mobile-only} {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.emotions__title {
  text-align: center;
  margin-top: 0;
  font-weight: 700;
  @media  #{$mq-mobile-only} {
    @include font (18px, 26px);
    margin-bottom: 15px;
  }
  @media (min-width: $mq-tablet) {
    @include font (21px, 26px);
    width: 388px;
    margin-bottom: 54px;
  }
}

.emotions__area {
  @include font (18px, 26px);
  width: 100%;
  height: 160px;
  font-weight: 700;
  background-color: $concrete;
  border: none;
  color: $black;
  resize: none;
  box-sizing: border-box;
  @media  #{$mq-mobile-only} {
    margin-bottom: 51px;
    padding: 13px 20px;
  }
  @media (min-width: $mq-tablet) {
    margin-bottom: 58px;
    padding: 18px 21px;
  }
  @media  #{$mq-tablet-only} {
    min-width: 648px;
  }
  @media (min-width: $mq-desktop) {
    min-width: 960px;
  }
}

.emotions__area::placeholder {
  color: $black;
}
