.introduce {
  @media #{$mq-mobile-only} {
    padding: 20px 20px 25px 20px;
    border-bottom: 1px solid #E5E5E5;
  }
  @media (min-width: $mq-tablet) {
    order: 2;
  }
  @media #{$mq-tablet-only} {
    margin-left: auto;
  }
  @media (min-width: $mq-desktop) {
    margin-left: auto;
  }
}

.introduce__field {
  color: $mine-shaft;
}

.introduce__field {
  display: flex;
  align-items: baseline;
  gap: 13px;
  margin-top: 0;
  margin-bottom: 20px;
  @media (min-width: $mq-tablet) {
    gap: 15px;
  }
}

.introduce__field_patronymic {
  margin-bottom: 0;
}

.introduce__title {
  margin-top: 0;
  @media #{$mq-mobile-only} {
    @include font (18px, 26px);
    text-align: center;
    margin-bottom: 19px;
  }
  @media (min-width: $mq-tablet) {
    margin-bottom: 54px;
  }
}
