.page-header {
  height: 56px;
  padding-top: 16px;
  box-sizing: border-box;
  @media #{$mq-tablet-only} {
    padding-left: 47px;
    padding-right: 22px;
  }
  @media (min-width: $mq-desktop) {
    padding-left: 76px;
    padding-right: 55px;
  }
}
