.reasons {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.85rem;

  padding: 32px 24px 0 24px;
  background-color: $white;
  @media #{$mq-tablet-only} {
    padding-top: 43px;
    padding-bottom: 52px;
  }
  @media (min-width: $mq-desktop) {
    padding-top: 55px;
    padding-bottom: 41px;
  }
}

.reasons__title {
  font-size: 1.28rem;
  font-weight: 700;
  margin: 0 0 39px 0;
  text-transform: uppercase;
}

.reasons__text {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.reasons__text br {
  @media (min-width: $mq-tablet) {
    display: none;
  }
}

